<% if @order.line_item_adjustments.exists? %>
  <% @order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
    <%= render "spree/orders/adjustment_row", label: label, adjustments: adjustments, type: Spree.t(:promotion) %>
  <% end %>
<% end %>

<% @order.all_adjustments.tax.eligible.group_by(&:label).each do |label, adjustments| %>
  <%= render "spree/orders/adjustment_row", label: label, adjustments: adjustments, type: Spree.t(:tax) %>
<% end %>

</hr>

<% @order.shipments.each do |shipment| %>
<div>
    <div class="col-xs-6">
        <span class="h5">Shipping (<%= shipment.shipping_method.name %>):</span>
    </div>
    <div class="col-xs-6 text-right">
        <span><%= shipment.display_discounted_cost %></span>
    </div>
</div>
<% end %>

<% @order.adjustments.eligible.group_by(&:label).each do |label, adjustments| %>
  <%= render "spree/orders/adjustment_row", label: label, adjustments: adjustments, type: Spree.t(:adjustment) %>
<% end %>

</hr>