<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <div class="col-sm-4">
  <div class="product-1">
      <div class="product__controls">
          <div class="col-xs-3">
              <label>Quantity:</label>
          </div>
          <div class="col-xs-6">
              <%= item_form.number_field :quantity, min: 0, class: "line_item_quantity", size: 5 %>
          </div>
          <div class="col-xs-3 text-right">
            <%= link_to button_tag('', class: 'checkmark checkmark--cross bg--error', type: 'button'), '#', class: 'delete', id: "delete_#{dom_id(line_item)}" %>
          </div>
      </div>
      <% if variant.images.length == 0 %>
        <%= link_to image_tag(variant.product.display_image.attachment(:small)), variant.product %>
      <% else %>
        <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
      <% end %>
      <div>
          <h5><%= link_to line_item.name, product_path(variant.product) %></h5>
          <%= variant.options_text %>
          <% if line_item.insufficient_stock? %>
            <span class="out-of-stock">
              <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
            </span>
          <% end %>
          <span> <%= line_item_description_text(line_item.description) %></span>
      </div>
      <div>
          <span class="h4 inline-block"><%= line_item.display_amount.to_html unless line_item.quantity.nil? %></span>
      </div>
  </div>
</div>
<% end -%>
