<% @body_id = 'cart' %>
<div data-hook="cart_container">
  <div class="main-container">
  <section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Cart Overview</h1>
                <ol class="breadcrumbs">
                    <li>
                        <a href="/shop">Home</a>
                    </li>
                    <li>
                        <a href="/shop/products">Shop</a>
                    </li>
                    <li>Cart Overview</li>
                </ol>
                <hr>
            </div>
        </div>
    </div>
  </section>

  <% if @order.line_items.empty? %>

    <div data-hook="empty_cart">
      <p><%= Spree.t(:your_cart_is_empty) %></p>
      <p><%= link_to Spree.t(:continue_shopping), products_path, class: 'button continue' %></p>
    </div>

  <% else %>
    <section>
      <div class="container">
          <%= form_for @order, url: update_cart_path, html: {id: 'update-cart'} do |order_form| %>
              <div class="row">
                  <%= render partial: 'spree/orders/line_item', collection: @order.line_items, locals: { order_form: order_form } %>
              </div>
              <div class="row">
                <%= order_form.text_field :coupon_code, size: 10, placeholder: Spree.t(:coupon_code), class: "col-md-2 text-right text-center-xs" %>
                <%= button_tag class: 'col-md-2 col-md-offset-2 btn', id: 'update-button' do %>
                  <%= Spree.t(:update) %>
                <% end %>
              </div>
              <div class="row">
                <%= submit_tag Spree.t(:empty_cart), class: 'btn btn-primary col-md-2' %>
                <%= link_to Spree.t(:continue_shopping), products_path, class: 'btn col-md-2' %>
              </div>
              <div class="row mt--2">
                  <div class="col-sm-12">
                      <div class="boxed boxed--border cart-total">
                      <% if @order.adjustments.nonzero.exists? || @order.line_item_adjustments.nonzero.exists? || @order.shipment_adjustments.nonzero.exists? || @order.shipments.any? %>
                          <div>
                              <div class="col-xs-6">
                                  <span class="h5">Cart Subtotal(<%= @order.line_items.sum(:quantity) %>):</span>
                              </div>
                              <div class="col-xs-6 text-right">
                                  <span><%= @order.display_item_total %></span>
                              </div>
                          </div>
                          <%= render "spree/orders/adjustments" %>
                          <% end %>
                          <hr />
                          <div>
                              <div class="col-xs-6">
                                  <span class="h5">Total:</span>
                              </div>
                              <div class="col-xs-6 text-right">
                                  <span class="h5"><%= @order.display_total %></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-md-offset-10 text-right text-center-xs">
                  <%= button_tag class: 'btn btn--primary', id: 'checkout-link', name: 'checkout' do %>
                    Proceed &raquo;
                  <% end %>
                </div>
              </div>
          <% end %>
      </div>
    </section>
    <% end %>
  </div>
</div>
