<% cache [I18n.locale, current_pricing_options, @product] do %>
<div class="main-container">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1><%= @product.name %></h1>
                    <ol class="breadcrumbs">
                        <li>
                            <a href="/shop">Home</a>
                        </li>
                        <li>
                            <a href="/shop/products">Shop</a>
                        </li>
                        <li><%= @product.name %></li>
                    </ol>
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <section class="space--lg">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-6">
                    <div class="slider border--round boxed--border" data-paging="true" data-arrows="true">
                        <ul class="slides">
                            <li>
                                <%= render partial: 'image' %>
                            </li>
                            <% unless @product_properties.empty? %>
                                <% @variants.each do |variant|%>
                                <li>
                                    <%= render partial: 'image' %>
                                </li>
                                <% end %>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-5 col-md-4 col-md-offset-1">
                    <h2><%= @product.name %></h2>
                    <div class="text-block">
                        <span class="h4 type--strikethrough inline-block"><%= display_price(@product) %></span>
                        <span class="h4 inline-block"><%= display_price(@product) %></span>
                    </div>
                    <p>
                        <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
                    </p>
                    <ul class="accordion accordion-2 accordion--oneopen">
                        <% unless @product_properties.empty? %>
                            <li>
                            <div class="accordion__title">
                                <span class="h5">Specifications</span>
                            </div>
                            <div class="accordion__content">
                                <ul class="bullets">
                                    <% @product_properties.each do |product_property| %>
                                    <li>
                                        <span><%= product_property.property.presentation %>: <%= product_property.value %></span>
                                    </li>
                                <% end %>
                                </ul>
                            </div>
                        </li>
                        <% end %>
                        <% unless @product_option_types.empty? %>
                            <li class="active">
                            <div class="accordion__title">
                                <span class="h5">Dimensions</span>
                            </div>
                            <div class="accordion__content">
                                <ul>
                                    <% @product_option_types.each do |product_option| %>
                                    <li>
                                        <span><%= product_option.option.presentation %>: <%= product_option.value %></span>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                        </li>
                        <% end %>
                        <li>
                            <div class="accordion__title">
                                <span class="h5">Shipping Info</span>
                            </div>
                            <div class="accordion__content">
                                <p>
                                    Generally ships between 2 - 4 working days from order confirmation. Orders only confirmed once payment has successfully processed. NOTE: When using services such as Skrill, payments can take longer to process (approx. 4 days).
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div id="cart-form" data-hook="cart_form">
                        <%= render partial: 'cart_form' %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% unless @product.taxons.blank? %>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-block">
                        <h3>Related Products</h3>
                    </div>
                </div>
                <% related_products(@product).each do |product| %>
                    <div class="col-sm-4">
                        <div class="product">
                            <%= link_to image_tag(product.display_image.attachment(:product), itemprop: "image", alt: "Image"), product %>
                            <%= link_to product, class: "block" do %>
                                <div>
                                    <h5><%= truncate(product.name, length: 15) %></h5>
                                    <span><%= truncate(product_description(product), length: 30) rescue Spree.t(:product_has_no_description) %></span>
                                </div>
                                <div>
                                    <span class="h4 inline-block"><%= display_price(product) %></span>
                                </div>
                            <% end %>
                        </div>
                    </div>  
                <% end %>
            </div>
        </div>
    </section>
    <% end %>
    </div>
<% end %>