<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
  params[:layout] ||= 4
  params[:layout] = params[:layout].to_i
  params[:tiles] ||= true
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<div data-hook="products_search_results_heading">
  <% if products.empty? %>
    <div data-hook="products_search_results_heading_no_results_found">
      <%= Spree.t(:no_products_found) %>
    </div>
  <% elsif params.key?(:keywords) %>
    <div data-hook="products_search_results_heading_results_found">
      <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
    </div>
  <% end %>
</div>


<div class="main-container">
  <% if products.any? %>
  <section class="space--sm">
      <div class="container">
          <div class="row">
            <%= render partial: 'spree/shared/search' %>
              <div class="col-sm-12">
              <div class="masonry <%= params[:tiles] == true ? 'masonry--tiles' : ''%>">
                  <div class="masonry-filter-container">
                      <span>Category:</span>
                      <div class="masonry-filter-holder">
                          <div class="masonry__filters" data-filter-all-text="All Categories"></div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="masonry__container">
                        <% products.each do |product| %>
                        <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
                          <% cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product] : [I18n.locale, current_pricing_options, product]) do %>
                            <div class="masonry__item col-sm-6 col-md-<%= 12 / params[:layout] %>"></div>
                              <div class="masonry__item col-sm-6 col-md-<%= 12 / params[:layout] %>" data-masonry-filter="<%= product.taxons.map{|taxon| taxon.name}.join(" ") %>">
                                <div class="product <%= params[:tiles] == true ? 'product--tile bg--secondary text-center' : '' %>">
                                  <%= link_to image_tag(product.display_image.attachment(:small), itemprop: "image", alt: "Image", title: product.name), url, itemprop: 'url' %>
                                  <%= link_to url, itemprop: 'url', class: "block" do %>
                                    <div>
                                        <h5><%= truncate(product.name, length: 15) %></h5>
                                        <span><%= truncate(product_description(product), length: 50) %></span>
                                    </div>
                                    <div>
                                        <span class="h4 inline-block type--strikethrough"><%= display_price(product) %></span>
                                        <span class="h4 inline-block"><%= sale_price(product) %></span>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                              <!--end item-->
                            <% end %>
                          <% end %>
                      </div>
                      <!--end masonry container-->
                  </div>
                  <!--end of row-->
              </div>
              <!--end masonry-->
            </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
  <% end %>
</div>

<% if paginated_products.respond_to?(:total_pages) %>
  <%= paginate paginated_products %>
<% end %>