<a id="start"></a>
<section class="bar bar-3 bar--sm bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="bar__module">
                    <span class="type--fade">Stack | Multipurpose HTML Template with Variant Page Builder</span>
                </div>
            </div>
            <div class="col-md-6 text-right text-left-xs text-left-sm">
                <div class="bar__module">
                    <ul class="menu-horizontal">
                        <li>
                            <div class="modal-instance">
                                <% if spree_user_signed_in? %>
                                    <a href="<%= destroy_spree_user_session_path %>" class="dropdown__content" >Logout</a>
                                <% else %>
                                    <a href="javascript:;" class="modal-trigger" data-modal-index="0">Login</a>
                                <% end %>

                            </div>
                        </li>
                        <li>
                            <div class="modal-instance">
                                <a href="http://trystack.mediumra.re/home-landing-2.html#" class="modal-trigger" data-modal-index="1">Create Account</a>

                            </div>
                        </li>
                        <li>
                            <a href="http://trystack.mediumra.re/home-landing-2.html#" data-notification-link="search-box">
                                <i class="stack-search"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://trystack.mediumra.re/shop-cart.html">
                                <i class="stack-basket"></i>
                            </a>
                        </li>
                        <li class="dropdown dropdown--absolute">
                            <span class="dropdown__trigger">
                                <!-- <img alt="Image" class="flag" src="./app/assets/images/flag-1.png"> -->
                                <%= image_tag asset_path("flag-1.png"), class: "flag" %>
                            </span>
                            <div class="dropdown__container" style="left: -1087.78px;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-1 dropdown__content" style="left: 1087.78px;">
                                            <ul class="menu-vertical text-left">
                                                <li>
                                                    <a href="http://trystack.mediumra.re/home-landing-2.html#">ENG</a>
                                                </li>
                                                <li>
                                                    <a href="http://trystack.mediumra.re/home-landing-2.html#">GER</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="http://trystack.mediumra.re/home-landing-2.html#" data-notification-link="side-menu">
                                <i class="stack-dot-3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--end bar-->
<div class="notification pos-right pos-top side-menu bg--white" data-notification-link="side-menu" data-animation="from-right">
    <div class="side-menu__module">
        <a class="btn btn--icon bg--facebook block" href="http://trystack.mediumra.re/home-landing-2.html#">
            <span class="btn__text">
                <i class="socicon-facebook"></i>
                Sign up with Facebook
            </span>
        </a>
        <a class="btn btn--icon bg--dark block" href="http://trystack.mediumra.re/home-landing-2.html#">
            <span class="btn__text">
                <i class="socicon-mail"></i>
                Sign up with Email
            </span>
        </a>
    </div>
    <!--end module-->
    <hr>
    <div class="side-menu__module">
        <span class="type--fine-print float-left">Already have an account?</span>
        <a class="btn type--uppercase float-right" href="http://trystack.mediumra.re/home-landing-2.html#">
            <span class="btn__text">Login</span>
        </a>
    </div>
    <!--end module-->
    <hr>
    <div class="side-menu__module">
        <ul class="list--loose list--hover">
            <li>
                <a href="http://trystack.mediumra.re/home-landing-2.html#">
                    <span class="h5">About Stack</span>
                </a>
            </li>
            <li>
                <a href="http://trystack.mediumra.re/home-landing-2.html#">
                    <span class="h5">Careers</span>
                </a>
            </li>
            <li>
                <a href="http://trystack.mediumra.re/home-landing-2.html#">
                    <span class="h5">Investors</span>
                </a>
            </li>
            <li>
                <a href="http://trystack.mediumra.re/home-landing-2.html#">
                    <span class="h5">Locations</span>
                </a>
            </li>
            <li>
                <a href="http://trystack.mediumra.re/home-landing-2.html#">
                    <span class="h5">Contact</span>
                </a>
            </li>
        </ul>
    </div>
    <!--end module-->
    <hr>
    <div class="side-menu__module">
        <ul class="social-list list-inline list--hover">
            <li>
                <a href="http://trystack.mediumra.re/home-landing-2.html#">
                    <i class="socicon socicon-google icon icon--xs"></i>
                </a>
            </li>
            <li>
                <a href="http://trystack.mediumra.re/home-landing-2.html#">
                    <i class="socicon socicon-twitter icon icon--xs"></i>
                </a>
            </li>
            <li>
                <a href="http://trystack.mediumra.re/home-landing-2.html#">
                    <i class="socicon socicon-facebook icon icon--xs"></i>
                </a>
            </li>
            <li>
                <a href="http://trystack.mediumra.re/home-landing-2.html#">
                    <i class="socicon socicon-instagram icon icon--xs"></i>
                </a>
            </li>
            <li>
                <a href="http://trystack.mediumra.re/home-landing-2.html#">
                    <i class="socicon socicon-pinterest icon icon--xs"></i>
                </a>
            </li>
        </ul>
    </div>
<div class="notification-close-cross notification-close"></div></div>
<div class="notification pos-top pos-right search-box bg--white border--bottom" data-animation="from-top" data-notification-link="search-box">
    <form>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <input type="search" name="query" placeholder="Type search query and hit enter">
            </div>
        </div>
        <!--end of row-->
    </form>
<div class="notification-close-cross notification-close"></div></div>
<!--end of notification-->
<div class="nav-container ">
    <div class="bar bar--sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <a href="http://trystack.mediumra.re/index.html">
                        <!-- <img class="logo logo-dark" alt="logo" src="./Stack Multipurpose HTML Template_files/logo-dark.png">
                        <img class="logo logo-light" alt="logo" src="./Stack Multipurpose HTML Template_files/logo-light.png"> -->
                        <%= image_tag asset_path("logo-dark.png"), class: "logo logo-dark" %>
                        <%= image_tag asset_path("logo-light.png"), class: "logo logo-light" %>
                    </a>
                </div>
                <div class="col-xs-9 col-sm-10 text-right">
                    <a href="http://trystack.mediumra.re/home-landing-2.html#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <!--end bar-->
    <nav id="menu1" class="bar bar--sm bar-1 hidden-xs bar--absolute">
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-sm-2 hidden-xs">
                    <div class="bar__module">
                        <a href="http://trystack.mediumra.re/index.html">
                            <!-- <img class="logo logo-dark" alt="logo" src="./Stack Multipurpose HTML Template_files/logo-dark.png">
                            <img class="logo logo-light" alt="logo" src="./Stack Multipurpose HTML Template_files/logo-light.png"> -->
                            <%= image_tag asset_path("logo-dark.png"), class: "logo logo-dark" %>
                        <%= image_tag asset_path("logo-light.png"), class: "logo logo-light" %>
                        </a>
                    </div>
                    <!--end module-->
                </div>
                <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                    <div class="bar__module">
                        <ul class="menu-horizontal text-left">
                            <% @active_links.each do |link|%>
                                <li class="page-link"><%= link_to link.name, link.url %></li>
                            <% end %>
                        </ul>
                    </div>
                    <!--end module-->
                    <div class="bar__module">
                        <a class="btn btn--sm type--uppercase" href="http://trystack.mediumra.re/variant/builder.html">
                            <span class="btn__text">
                                Try Builder
                            </span>
                        </a>
                        <a class="btn btn--sm btn--primary type--uppercase" href="https://themeforest.net/item/stack-multipurpose-html-with-page-builder/19337626?ref=medium_rare">
                            <span class="btn__text">
                                Buy Now
                            </span>
                        </a>
                    </div>
                    <!--end module-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <!--end bar-->
</div>
